@media screen and (min-width: 380px) and (max-width: 599px){

    #itemIniciarSesion {

        margin: 7vw 0 7vw 0;
    }
    #burguerNavbar {

        float: left;
        
    }
    #main-header {
    
        height: 7vw;

    }

    .logo {
      
        margin: 45vw auto 1vw auto;
       
    }
    
    .divFondo {

        margin-top: 6vw ;
        
    }
 
    #divDado {
    
        grid-column-start: 2; 
        grid-column-end: 6; 
        grid-row-start: 1;
        grid-row-end: 4;
        background-size: 70vw;
        width: 70vw;
      
        
      
    }
    #lanzarDados {

        
        width: 18vw;
        height: 8vw;
        
    }

    #dadoImagen {
   
        width: 29%;
        bottom: 0.2vw;
        right: 20vw;
       
    }
    
 
 
 
 
    /* TAMAÑOS DE TEXTOS */


   #opened-menu.open {
   
    font-size: 55px;
    
}
.itemsMenuAbierto {

    font-size: 3vw;

}

#usuarioX {

    font-size: 1.7vw;
    
}

.subtitulo {

    font-size: 3vw;
    
}

.button {

    font-size: 2.3vw;
    width: 28vw;
    height: 10vw;
}

#logInText {


    font-size: 2.5vw;
}

.cuerpoDelTexto {

    font-size: 2.3vw;
    
}

.slide-arrow {

    height: 9.9vw;
    width: 5vw;
    font-size: 5vw;


  }
  #slide-arrow-prev {
    left: 20vw;
    
  }

  #slide-arrow-next {
    right: 19vw;
   
  }


    #razaLabel, #sexoLabel {

        margin-left: -20vw;
    
    }
    
    #nombreLabel, #claseLabel {


        margin-left: 0;
    }

    /* #nombre, #raza, #clase, #sexo {


    } */

    #raza #sexo {

        margin-right: 20vw;
    }

    .divPortrait .img-container .fotoPerfilCharacter{

        margin-left: -14.5vw;
        height: 150%;
        width: 150%;
    }

    #fotoPerfilCharacter2{
        height: 370%;
    } 
    #form {
      
        grid-template-columns:  auto auto auto auto auto; 
        grid-template-rows: auto auto 70vw auto auto auto;
       
      }
    .divPortrait #thumbnail-container {

       margin-left: -15.5vw;
       margin-top: 15vw;
       height: 20vw;
       width: 40vw; 
    }

    .thumbnail {

        height: 10vw;
    }

    #botonSubmitCharacter {

        margin-left: -7.5vw;
    }

    #misHechizos {
    
        font-size: 2.5vw;
    
    }

    #miEquipo {

        font-size: 2.5vw;
      
    }

    .divVidaMana {

        font-size: 2.5vw;
        grid-row-start:16;
        margin-left: -20vw;
      
    }
    .pVidaMana {

        font-size: 2.7vw;
    
    }

    #vida, #mana, #oro, #nivel, #armadura  {
      
        font-size: 2.7vw;
        margin-top: 3vw;
        height: 9vw;
        width: 9vw;
    }

    #resultadoDado {

        font-size: 8vw;
       
    }

    .divDatosDelPersonaje {

        margin: 4vw 0 0 5vw ;
        font-size: 3vw;
        font-family: "Matisse M";
    }

    #nombrePersonaje {

        font-size: 4vw;
       
    }

    #clasePersonaje, #razaPersonaje, #sexoPersonaje{

        font-size: 2.7vw;
       
    }

    #footer {

        height: 90vw;
        grid-template-rows: 15vw 50vw auto;
    }

    #seeMoreCharacters {

        margin-bottom: 4vw;
        margin-top: 5vw;
        width: 20vw;
    }
    .liJson {
    
        font-size: 2.0vw;
        margin-top: 10vw;
    }
    .nameJson {

        font-size: 3.5vw;
    } 



/*-------------------------- GRID Container ------------------ */
    #grid-container {

        grid-template-columns: 25vw 15vw 15vw 15vw 15vw;
        grid-template-rows: 10vw 10vw 8vw repeat(22, 7vw);
        column-gap: 10px;
        background-size: 100vw;
        
    }
    
    
    .divEquipamiento {

        grid-column-start: 1;
        grid-row-start: 19;
        grid-row-end: 25;
        width: 40vw;
        margin-left: 8vw;
        font-size: 3.5vw;
    }

    .divHechizos {

        grid-column-start: 3;
        grid-row-start: 19;
        grid-row-end: 25;
        width: 40vw;
        margin-left: 8vw;
        font-size: 3.5vw;
       
    }

    .divAtributos {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 14;
        grid-template-rows: repeat(12, 7vw);
    }


    .atributo {
    
        margin: 0vw 0 0vw -3vw;
        font-size: 2.7vw;
        
    } 

    .valorAtributo {

        margin: -4vw 0 0vw 24vw;
        font-size: 3.5vw;
        width: 5vw;
      
    }
 
    .buttonPlus, .buttonMinus {

        height: 9vw;
        width: 9vw;
        font-size: 5vw;
        margin: 0 5vw 0 5vw;
        padding: 0;
    }
    .buttonMinus {

        margin-left: -5vw;
    }
    .buttonPlus {
    
        
        margin-left: -9vw;
       
      
    }
    #contenedorResultadoDado {

        top: 1vw;
        left: 36vw;
            
    }
/* -----------------Recuadros de madera------------- */

    .marco {

        position: relative;
        height: 13vw;
        width: 24vw;
    
    }

    #marcoAtributo1 {

        top: 15vw;
        left: 40vw;
    }
    
    #marcoAtributo2 {
        
        top: 15.4vw;
        left: 40vw;
        
    }
    
    #marcoAtributo3 {
        
        top: 15.6vw;
        left: 40vw;
        
    }
    
    #marcoAtributo4 {
        
        top: 16vw;
        left: 40vw;
        
    }
    
    #marcoAtributo5 {
       
        top: 16.2vw;
        left: 40vw;
        
    }
    
    #marcoAtributo6 {
       
        top: 16.5vw;
        left: 40vw;
        
    }
}



/*---------------------------MEDIA QUERY 600------------------- */
@media screen and (min-width: 600px) and (max-width: 767px){

    .atributo {
    
        margin: 2.5vw 0 0 -1vw;
        
    } 
    .buttonPlus, .buttonMinus {

        height: 4.3vw;
        width: 4.3vw;

    }
    .buttonPlus {
    
        
        margin: 2vw 0 0 4vw;
       
      
    }
    #contenedorResultadoDado {

      
        left: 34.5vw;
            
    }
}


@media screen and (min-width: 768px) and (max-width: 899px){

    .atributo {
    
        margin: 2.2vw 0 0 0.5vw;
        
    }
    .buttonPlus, .buttonMinus {

        height: 4vw;
        width: 4vw;

    }
    .buttonPlus {
    
        margin: 2vw 0 0 4vw;
       
      
    }
    #contenedorResultadoDado {

      
        left: 33vw;
            
    }
}



@media screen and (min-width: 900px) and (max-width: 1023px) {

    .atributo {
    
        margin: 2.2vw 0 0 0.5vw;
        
    }
    .buttonPlus {
    
        margin: 2vw 0 0 4vw;
      
    }
    #contenedorResultadoDado {

        
        left: 32vw;
           
    }

}



/* @media screen and (min-width: 1024px) {


    
} */
