@media screen and (min-width: 380px) and (max-width: 599px){

   
    .divFondo {

        margin-top: 12vw ;
        
    }
 
    #divDado {
    
        grid-column-start: 2; 
        grid-column-end: 6; 
        grid-row-start: 1;
        grid-row-end: 4;
        background-size: 70vw;
        width: 70vw;
      
        
      
    }
    #lanzarDados {

        
        width: 18vw;
        height: 8vw;
        
    }

    #dadoImagen {
   
        width: 20%;
        bottom: 2vw;
        right: 21.5vw;
       
    }
    
 
 
 
 
    /* TAMAÑOS DE TEXTOS */


   #opened-menu.open {
   
    font-size: 55px;
    
}
.itemsMenuAbierto {

    font-size: 3vw;

}

#usuarioX {

    font-size: 2.7vw;
    
}

.subtitulo {

    font-size: 3vw;
    
}

.button {

    font-size: 2.3vw;
    width: 28vw;
    height: 10vw;
}

#logInText {


    font-size: 2.5vw;
}

.cuerpoDelTexto {

    font-size: 2.3vw;
    
}

.slide-arrow {

    font-size: 3.5vw;
   
  }
   
    #razaLabel, #sexoLabel {

        margin-left: -9vw;
    
    }
    
    #nombreLabel, #claseLabel {


        margin-left: 0;
    }

    #nombre, #raza, #clase, #sexo {

        width: 20vw;
    }

    .fotoPerfilCharacter {

        margin-left: -5vw;
    }

    #fotoPerfilCharacter2{
        height: 370%;
    } 
    
    #thumbnail-container {

       margin-left: -9.2vw;
        
    }

    #misHechizos {
    
        font-size: 2.5vw;
    
    }

    #miEquipo {

        font-size: 2.5vw;
      
    }

    .divVidaMana {

        font-size: 2.5vw;
        grid-row-start:16;
        margin-left: -20vw;
      
    }
    .pVidaMana {

        font-size: 2.7vw;
    
    }

    #vida, #mana, #oro, #nivel, #armadura  {
      
        font-size: 2.7vw;
        margin-top: 3vw;
        height: 9vw;
        width: 9vw;
    }

    #resultadoDado {

        font-size: 5vw;
       
    }

    .divDatosDelPersonaje {


        font-size: 2.5vw;
    
    }

    #nombrePersonaje {

        font-size: 4vw;
       
    }

    #clasePersonaje, #razaPersonaje, #sexoPersonaje{

        font-size: 2.7vw;
       
    }

    .liJson {
    
        font-size: 2.5vw;
    }
    .nameJson {

        font-size: 4vw;
    } 



/*-------------------------- GRID Container ------------------ */
    #grid-container {

        grid-template-columns: 25vw 15vw 15vw 15vw 15vw;
        grid-template-rows: 10vw 10vw 8vw repeat(22, 7vw);
        column-gap: 10px;
        background-size: 100vw;
        
    }
    
    
    .divEquipamiento {

        grid-column-start: 1;
        grid-row-start: 19;
        grid-row-end: 25;
        width: 40vw;
        margin-left: 8vw;
        font-size: 3.5vw;
    }

    .divHechizos {

        grid-column-start: 3;
        grid-row-start: 19;
        grid-row-end: 25;
        width: 40vw;
        margin-left: 8vw;
        font-size: 3.5vw;
       
    }

    .divAtributos {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 14;
        grid-template-rows: repeat(12, 7vw);
    }


    .atributo {
    
        margin: 0vw 0 0vw -1vw;
        font-size: 2.7vw;
        
    } 

    .valorAtributo {

        margin: -4vw 0 0vw 24vw;
        font-size: 3.5vw;
      
    }
 
    .buttonPlus, .buttonMinus {

        height: 8vw;
        width: 8vw;
        font-size: 2.3vw;
        margin: 0 5vw 0 5vw;
    }
    .buttonMinus {

        margin-left: -15vw;
    }
    /* .buttonPlus {
    
        
        margin: 2vw 0 0 4vw;
       
      
    } */
    #contenedorResultadoDado {

        top: 4vw;
        left: 37.5vw;
            
    }
/* -----------------Recuadros de madera------------- */

    .marco {

        position: relative;
        height: 13vw;
        width: 24vw;
    
    }

    #marcoAtributo1 {

        top: 15vw;
        left: 40vw;
    }
    
    #marcoAtributo2 {
        
        top: 15.4vw;
        left: 40vw;
        
    }
    
    #marcoAtributo3 {
        
        top: 15.6vw;
        left: 40vw;
        
    }
    
    #marcoAtributo4 {
        
        top: 16vw;
        left: 40vw;
        
    }
    
    #marcoAtributo5 {
       
        top: 16.2vw;
        left: 40vw;
        
    }
    
    #marcoAtributo6 {
       
        top: 16.5vw;
        left: 40vw;
        
    }
}


@media screen and (min-width: 600px) and (max-width: 767px){

    .atributo {
    
        margin: 2.5vw 0 0 -1vw;
        
    } 
    .buttonPlus, .buttonMinus {

        height: 4.3vw;
        width: 4.3vw;

    }
    .buttonPlus {
    
        
        margin: 2vw 0 0 4vw;
       
      
    }
    #contenedorResultadoDado {

      
        left: 34.5vw;
            
    }
}


@media screen and (min-width: 768px) and (max-width: 899px){

    .atributo {
    
        margin: 2.2vw 0 0 0.5vw;
        
    }
    .buttonPlus, .buttonMinus {

        height: 4vw;
        width: 4vw;

    }
    .buttonPlus {
    
        margin: 2vw 0 0 4vw;
       
      
    }
    #contenedorResultadoDado {

      
        left: 33vw;
            
    }
}



@media screen and (min-width: 900px) and (max-width: 1023px) {

    .atributo {
    
        margin: 2.2vw 0 0 0.5vw;
        
    }
    .buttonPlus {
    
        margin: 2vw 0 0 4vw;
      
    }
    #contenedorResultadoDado {

        
        left: 32vw;
           
    }

}

/* @media screen and (min-width: 1024px) {


    
} */