/* Familia Matisse */

    /* Font para subtitulos */
@font-face {
    font-family: "Matisse EB" ;
    src: url(fonts/MatisseEB.otf);
}
/* Font para cuerpo del texto */
@font-face {
    font-family: "Matisse M" ;
    src: url(fonts/MatisseM.otf);
}
    /* Font para Titulos  */
@font-face {
    font-family: "Matisse UB" ;
    src: url(fonts/MatisseUB.otf);
}



/* Familia Breathe Fire */
@font-face {
    font-family: "Breathe Fire";
    src: url(fonts/BreatheFireIii-PKLOB.ttf);
}

/* Familia Breathe Fire para numeros del dado */
@font-face {
    font-family: "Breathe Fire IV";
    src: url(fonts/BreatheFireIv-3zAVZ.ttf);
}


body {
    margin: 0;
    padding: 0;
    background-image: url("images/rolepc3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}





/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
/*-----------------------------------------------NAVBAR---------------------------------------------------------------------------------------*/
#main-header {
    color: white;
    padding: 0.5vw 0 0 0;
    height: 2vw;
    text-align: left;
    border-radius: 3px;
    /* border: solid #59a1ff; */
    margin-bottom: 2vw;
    background-color: #2b2738;
    position: sticky;
    top: 0;
    right: 0;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

#burguerNavbar {
    padding: 0 0 0 5vw;
    margin: 0;
    height: 8vw;
    width: 10vw;
    float: right;
    cursor: pointer;
}


#opened-menu {
    display: none;
  }
#opened-menu.open {
    background-color: rgba(0, 19, 105, 0.5);
    text-align: center;
    font-size: 45px;
    padding: 10px;
    text-shadow: none;
    display: block;
}

.itemsMenuAbierto {

    font-size: 2vw;
    font-family: "Matisse EB";
    

}

#itemIniciarSesion {

    margin-top: 9vw;
    cursor: pointer;
}

#expandedNavbar {

    list-style: none;
    margin: 0;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    color: #fff;
    background-color: #2b2738;
}


#expandedNavbar li {

    margin: 0vw 4vw;


}



li {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: "Matisse M";
}


#usuarioX {

    font-family: "Matisse UB" ;
    text-align: center;
    font-size: 1.7vw;
    cursor: auto;
    margin-top: 0.8vw;
}

.burguer {

    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    height: 0.8vw;
    margin: 0.8vw;
    
    }

/*-----------------------------------------------FIN DEL NAVBAR-------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------REGISTER-LOGIN WINDOW POP UP ---------------------------------------------------------------------------------------------------------- */



#loginWindow {

    display: none;
    position: absolute;
    top: 10vw;
    left: 20vw;
}

#loginWindow.open {

    background-color: #4c4468;
    width: 50%;
    padding: 2vw;
    display: block;
    margin-left: 2.6vw;

}

#loginForm {

    border-radius: 0.3m;
    padding: 2vw;
    margin: 0 2vw 0 2vw;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    font-family: "Matisse UB" ;
    text-align: center;
}

#loginUserName {

    font-family: "Matisse M" ;
    

}


#loginPassword {

    font-family: "Matisse M" ;
    
}

.divBotonCancelar {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}



/* -------Titulos y párrafos------- */



.logo {
    display: block;
    width: 50%;
    margin: 30vw auto 1vw auto;
    align-items: center;
}

.divFondo {

    margin-top: 6vw ;
    background-color: #4c4468;
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
}

#contenedorBotones {

    display: flex;
    justify-content: space-around;
    margin: 1vw 20vw 0 20vw;
}

.subtitulo {
    font-family: "Matisse UB" ;
    color:#5adaff;
    font-size: 2vw;
    text-align: center;
    margin: 2vw 2vw 3vw 2vw;
}

.button{

width: 18vw;
height: 6vw;
margin: 0 auto 0 auto;
background-color: #4CC2F1;
align-items: center;
border-radius: 24px;
border-style: none;
box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
box-sizing: border-box;
color: #3c4043;
cursor: pointer;
display: inline-flex;
font-family: "Matisse UB";
font-size: 1.3vw;
justify-content: center;
max-width: 100%;
padding: 2px 24px;
position: relative;
text-align: center;
max-width: 100%;
}

#botonAceptaRegistro, #botonAceptaSesion {

    margin-top: 2vw;

}


#buttonCreaPersonaje, #buttonCargatuPersonaje {

    margin-bottom: 2vw;
}

.button:active {
    box-shadow: #222c7e 0 3px 7px inset;
    transform: translateY(2px);
    
  }



#logInText {

    font-family: "Matisse UB";
    width: 12vw;
    margin-top: 1vw;
    font-size: 1.5vw;
}


.cuerpoDelTexto {

    font-family: "Matisse M" ;
    color: #ffffff;
    font-size: 1.3vw;
    text-align: center;
}

/* ----------------------------------------------FORMULARIO-------------------------------------------------------------------- */

/*FORMULARIO*/



#grid-container {
    background-color:  #d0ccc3;
    width: 100%;
    height: 100%;
    display: none;
    grid-template-columns: 25vw 15vw 15vw 15vw 15vw;
    grid-template-rows: 10vw 10vw 8vw repeat(11, 7vw);
    column-gap: 20px;
    background-image: url("images/fondopersonaje4.jpg");
    background-size: 100vw;
    background-size: cover;


}

.divPortrait {

    grid-column-start: 3;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divPortrait .img-container {

    width: 25vw;
    height: 25vw;

}

.divPortrait .img-container .fotoPerfilCharacter{

    height: 100%;
    width: 100%;
    box-shadow: 9px 0 5px rgba(0, 0, 0, .12)

}
.img-container {

    margin-bottom: 2vw;
}

.divPortrait #thumbnail-container {

    display: flex;
    height: 6vw;
    justify-content: space-between;
}

.thumbnail {

    cursor: pointer;
    object-fit: cover;
    opacity: 0.7;
}

.active {

    opacity: 1;
    box-shadow:  0 5px 5px rgba(0, 0, 0, .12)
}
#thumbnail-container {

    overflow: hidden;
    width: 25vw;
    overflow: scroll;
    scroll-behavior: smooth;
    margin-bottom: 2vw;
    
}
#thumbnail-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.slide-arrow {
    position: absolute;
    display: flex;
    height: 5.9vw;
    background-color: white;
    border: none;
    width: 3vw;
    font-size: 3vw;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
  }
  .slide-arrow:hover, .slide-arrow:focus {
    opacity: 1;
  }
  #slide-arrow-prev {
    left: 33.5vw;
    padding-left: 0.75vw;
    padding-top: 0.5vw;
    border-radius: 2rem 0 0 2rem ; 
    
  }
  #slide-arrow-next {
    right: 33.5vw;
    padding-left: 0.75vw;
    padding-top: 0.5vw;
    border-radius: 0 2rem 2rem 0;
  }



#fotoPerfilCharacter2{
    height: 300%;
    grid-column-start:1; 
    grid-row-start: 1;
    grid-row-end: 4;
} 



#divFormulario {
    
    background-color: #272625;
  }

  #form {
    border-radius: 0.3m;
    padding: 2em;
    margin: 0;
    font-family: "Matisse EB";
    grid-template-columns:  auto auto auto auto auto; 
    grid-template-rows: auto auto auto auto auto auto;
    row-gap: 10px;
    display: none;
  }

#form label {

    color: antiquewhite;
}

#nombreLabel, #razaLabel, #claseLabel, #sexoLabel {

    width: 15vw;

}

#nombre, #raza, #clase, #sexo {

    width: 15vw;
}

#razaLabel {

    grid-column-start: 4;
}
#sexoLabel {

    grid-column-start: 4;
    grid-row-start: 2;
}
#sexo {

    grid-column-start: 5;
    grid-row-start: 2;
}


#botonSubmitCharacter {

    grid-column-start: 3;
    grid-row-start: 5;
}

  
 
  
  /* .form-row input[type=text] {
    background-color: #d0ccc3;
    border-radius: 0.4em;
    border-style: none;
    padding: 0.7em;
    font-size: 0.9em;
    font-family: "Matisse M";
  }
  
  .form-row label {
    margin: 1.5em 0;
  } */

  /* --------------------------------------------------FIN DEL FORMULARIO--------------------------------------------- */
/* Atributos */

.divAtributos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 14;
    display: grid;
    grid-template-columns: auto 7vw 7vw;
    grid-template-rows: repeat(12, 5vw);


}

.span1 {

    grid-column: 3 span;
    margin: 0;
    color: #ffffff;

}


.atributo {
    font-family: "Matisse EB" ;
    color: #ffffff;
    font-size: 1.7vw;
    margin: 1.8vw 0 0 1vw;
    text-align: center;
    z-index: 1;
}
.buttonPlus, .buttonMinus {

    height: 3vw;
    width: 3vw;
    margin: 2vw 0 0 2vw;
    align-self: center;
    font-size: 2vw;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    border-radius: 9px;
    border-color: #d0ccc3;
}

.buttonPlus {

    margin-left:5vw;
}

.valorAtributo {

    margin-left: 5.4vw;
    font-family: "Matisse EB";
    font-size: 2.5vw;
    z-index: 1;
}


/* Equipamiento */

.divEquipamiento {

    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 9;
    font-family: "Matisse M";
    font-size: 1.5vw;
    border-radius:10%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#miEquipo {

    resize: none;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-family: "Matisse M";
    font-size: 1.5vw;
    text-align: center;
}


 .divHechizos {

    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 14;
    font-family: "Matisse M";
    font-size: 1.5vw;
    border-radius:10%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#misHechizos {
    resize: none;
    height: 100%;
    width: 100%;
    font-family: "Matisse M";
    font-size: 1.5vw;
    border-radius: 10px;
    text-align: center;
}

 .divVidaMana {

    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    font-family: "Matisse M";
    font-size: 1.5vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 6vw;
    justify-items: center;
    
}
.pVidaMana {

    font-family: "Matisse EB";
    font-size: 1.7vw;
    

}
#vida, #mana, #oro, #nivel, #armadura  {
    height: 5vw;
    width: 5vw;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    border-radius: 9px;
    border-color: #d0ccc3;
    font-size: 1.7vw;
    text-align: center;
}



/* DADOS VIRTUALES */
#divDado {
    
    grid-column-start: 2; 
    grid-column-end: 6; 
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url("images/fondo3.png");
    background-repeat: no-repeat;
    background-size: 60vw;
    display: flex;
    flex-direction: row;
    position: relative;
    
  
}

#dadoImagen {
   
    display: block;
    width: 25%;
    position: relative;
    bottom: 2vw;
    right: 21.5vw;
   
}

#lanzarDados {

    top: 9vw;
    right: 10vw;
    width: 10vw;
    height: 4vw;
    padding: 0;
}

#contenedorResultadoDado {

    width: 8vw;
    height: 8vw;
    position: absolute;
    top: 6vw;
    left: 30.5vw;
    text-align: center;

}
#resultadoDado {

    font-family: "Breathe Fire IV";
    font-size: 4vw;
    color: #b8f0ff;
    /* right: 30.1vw;
    top: 5.2vw; */
    text-shadow: -1px 1px 25px rgb(255, 255, 255);
    filter: drop-shadow(2px 2px 4px#0033ff);
    z-index: 2;
}


.divDatosDelPersonaje {

    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 5;
    font-family: "Matisse M";
    font-size: 1.5vw;
    border-radius:10%; 
}

#nombrePersonaje {

    font-size: 3vw;
    text-align: center;
    margin: 0;
}

#clasePersonaje, #razaPersonaje, #sexoPersonaje{

    font-size: 1.7vw;
    text-align: center;
    margin: 0;
}

.marco {

    position: relative;
    height: 9.1vw;
  
}

#marcoAtributo1 {

    top: 26vw;
    left: 25.3vw;
}

#marcoAtributo2 {
    
    top: 26.5vw;
    left: 25.3vw;
    
}

#marcoAtributo3 {
    
    top: 27vw;
    left: 25.3vw;
    
}

#marcoAtributo4 {
    
    top: 27.5vw;
    left: 25.3vw;
    
}

#marcoAtributo5 {
   
    top: 28vw;
    left: 25.3vw;
    
}

#marcoAtributo6 {
   
    top: 28.5vw;
    left: 25.3vw;
    
}





#footer {

    display: none;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: #2b2738;
    width: 100%;
    padding-top: 2vw;
    height: 55vw;
}

#seeMoreCharacters {

    grid-column-start: 3;
    grid-row-start: 1;
}

.liJson {
    font-family: "Matisse M";
    font-size: 1.5vw;
    color: #d0ccc3;
    /* background-color: #4c4468; */
    margin: 1vw;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: auto;
}

 .nameJson {

    margin: 2vw;
    font-size: 3vw;
} 
.infoJson {

    margin: 0;
}
.imgJson {

    width: 70%;
    max-height: 50%;
}